<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /innout/public/

# Se for o index.php, deixa passar
RewriteRule ^index\.php$ - [L]

# Se o arquivo ou diretório existir, não reescreve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona todas as outras requisições para index.php
RewriteRule . index.php [L]
</IfModule>
